<div>
    <div>
        <div>
            <div>
                <div style="margin: 20px">
                    <div>
                        <h3><strong>List of Projects</strong></h3>
                    </div></br></br></br>

                    <div class="projects">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <p><strong><span style="color: #808080;">Cartographic Semantic Tools - <br/></span></strong></p>
                                </div>
                                <div class="col-sm">
                                    <p>Technology: Nodejs, MongoDB, Redis, Potree, Three.js.</p>
                                </div>
                            </div>
                            <div>
                                <p>URL: <a href="https://upe.civilmaps.com">https://upe.civilmaps.com</a></p>
                                        
                                <p><span >In the process to develop HD Map​ by not just registering information about the physical features in the World also detailed information on how these features are related to each other / how they define a vehicle's valid operational roadway dynamics. This T​ool designed to allow Cartographers to draw physical & virtual semantics on geographical locations ,assign ​contextual relationships between various roadway features in High Definition, detailed 3D environmental model. </span></p>
                                Stuff I did​:
                                <ul>
                                    <li>Built tool from scratch to assign virtual trajectory (from centerlines) to Traffic Signals & various Road Signs.</li>
                                    <li>Tool to assign semantic tags on the basis of position offset, time interval for the centerlines.</li>
                                    <li>TDD using unit testing, integration testing frameworks like Mocha, Chai & Puppeteer.</li>
                                    <li>Integrating tests in Jenkins CICD pipeline and Monitoring builds.</li>
                                </ul>
                            </div>
                        </div>
                        <hr class="solid">


                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <p><strong><span style="color: #808080;">Masspay B2B Platform - <br/></span></strong></p>
                                </div>
                                <div class="col-sm">
                                    <p>Technology: Nodejs, Postgresql, Redis, EJS. </p>
                                </div>
                            </div>
                            <div>
                                <p>URL: <a href=" https://masspay.instarem.com/"> https://masspay.instarem.com/</a></p>
                                        
                                <p><span >A configurable, multi-featured platform to make high volume payments globally. One platform which can be utilized by Corporates, Banks, Marketplace to process payment, FX conversion from more than 50 different currencies, market and to all major market following every country specific compliance, regulatory norms with their standard modes of transaction (which varies from country to country) through maintaining multiple currency wallets / accounts for the client, handling multiple timezone. Which allows bulk transaction handling and processing seamlessly by utilizing the capabilities of Microservice architecture, comprising of all the roles of Financial System with maker checker facility at every step. I18 internationalization of the platform to cater clients from south Asian countries.</span></p>
                                Stuff I did​:
                                <ul>
                                    <li>Automate Ledger maintenance, Transaction processing, multi-currency account handling.</li>
                                    <li>SLA, Aging, Daily Balance Reporting.</li>
                                    <li>File Based payout generation and its transaction state management.</li>
                                    <li>Infrastructure monitoring and maintenance.</li>
                                </ul>
                            </div>
                        </div>
                        <hr class="solid">

                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <p><strong><span style="color: #808080;">Retail Nium Platform - <br/></span></strong></p>
                                </div>
                                <div class="col-sm">
                                    <p>Technology: Nodejs,Postgresql,Redis,Vuejs,Reactjs,Rabbit MQ. </p>
                                </div>
                            </div>
                            <div>
                                <p>URL: <a href="https://www.nium.com/"> https://www.nium.com/</a></p>
                                        
                                <p><span >InstaRem retail platform provides digital cross border payments solution for consumers, Small and Medium Enterprises and financial institutions to make international money transfers. Having active operation in Singapore, Australia, Malaysia, Hong Kong, India, USA, Canada and EU Corridor.</span></p>
                                Stuff I did​:
                                <ul>
                                    <li>Built complex compliance checks, AML triggers provided its standardization to outsmart compliance process resulting into less manual team efforts.</li>
                                    <li>Developed Fully self-sufficient CRM solution capable of handling customers from 37 different timezones.</li>
                                    <li>User Management with Role and access management inside the Backoffice portal accessible for the different department within an organization, Banking partners, Regulatory Bodies.</li>
                                    <li>Loyalty Point and Coupon Management for the customer.</li>
                                    <li>Compliance Scan, Aging, Regulatory Reporting.</li>
                                    <li>Transaction state management considering cases of Consumer Flow, Finance Reconciliation, Compliance activity, AML Checks, RFI Process, Partner Gateway Response, Technical Errors.</li>
                                </ul>
                            </div>
                        </div>
                        <hr class="solid">


                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <p><strong><span style="color: #808080;">AML Engine - <br/></span></strong></p>
                                </div>
                                <div class="col-sm">
                                    <p>Technology: Nodejs, Redis, MongoDB, RabbitMQ (Microservice developed Single-handed) </p>
                                </div>
                            </div>
                            <div>       
                                <p><span >A vital process(Microservice) of Business Operation as it facilitates to ensure that the services offered by the organisation (to its clients) are not misused (via money laundering, terrorism funding and other malpractices). Provides Regulatory compliance with regional, international Anti-Money Laundering regulations and KYC process by providing identity verification, Business verification,  Document verification and Matching Engine from AML Watchlist Data through various third party services like Trulio, WorldCheck, Jumio, Aadhaar API.
                                </span></p>
                            </div>
                        </div>
                        <hr class="solid">


                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <p><strong><span style="color: #808080;">Payments Gateways - <br/></span></strong></p>
                                </div>
                                <div class="col-sm">
                                    <p>Technology: Nodejs, Redis, MongoDB (Microservices developed Single-handed) </p>
                                </div>
                            </div>
                            <div>       
                                <p><span >Various different loosely coupled currency specific microservices which consumes Third party services which perform transmission either through REST API or File based SFTP protocol. Following the Payment receipt in timely manner and processing with respect to cutoff and following operation regulation / validation varies from country to country. Privacy is ensured through asymmetric key based encryption or AWS Cloud HSM. Following the state machine design for the transaction logging which facilitates incident monitoring and avoidance of Double payment vulnerability. Successfully managed Volume Bursts in remittance and Cross Border Payments.
                                </span></p>
                            </div>
                        </div>
                        <hr class="solid">


                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <p><strong><span style="color: #808080;">Validation Engine - <br/></span></strong></p>
                                </div>
                                <div class="col-sm">
                                    <p>Technology: Nodejs, Redis, MongoDB (Microservice developed Single-handed) </p>
                                </div>
                            </div>
                            <div>       
                                <p><span >Unified Mutable Map of remitter and transaction details can be received from organization wide many different platform to transpile and transmit to Payment Processor's Standard Format.Includes Supports for Bulk Transaction batch processing with the all country specific validation on all the details specific to the nature of remitter, remittance amount, time, market regulations and norms of all the corridors involved in the payment.
                                </span></p>
                            </div>
                        </div>
                        <hr class="solid">


                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <p><strong><span style="color: #808080;">Reconciliation Engine - <br/></span></strong></p>
                                </div>
                                <div class="col-sm">
                                    <p>Technology: Nodejs, MongoDB. (Microservice developed Single-handed) </p>
                                </div>
                            </div>
                            <div>       
                                <p><span >Automated Reconciliation through specialized solutions, wherein Straight Through Processing and using the Nostro Statements and Mirror Accounts. Nostro Bank Receipt received directly from the bank via email which is directly pull using webhooks for one extra step automation. Fully and Partly Matched Reconciliation using conditions like currency, amount, value date, transaction reference number, counterparty etc. are matching as well and matching of Reference number. Un-reconciled entries pending post Automated Reconciliation can be cleared through: Forced matching and One-to-many (one credit with multiple debits or vice versa) Entries. Maintaining Corridor and Partner Specific Mutable Map for the standard fields in Database to adopt ever changing receipt format without any hassle. Directly resulted as reduced Manual Process leads to reduced Transaction TAT & meeting Transaction SLA.
                                </span></p>
                            </div>
                        </div>
                        <hr class="solid">

                        
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <p><strong><span style="color: #808080;">Risk Advisor - <br/></span></strong></p>
                                </div>
                                <div class="col-sm">
                                    <p>Technology: Nodejs, MongoDB, ExpressJS, AngularJS. </p>
                                </div>
                            </div>
                            <div>
                                <p>URL: <a href="https://login.riskadvisor.io/"> https://login.riskadvisor.io/</a></p>
                                        
                                <p>Domain: Insurance and Financial advisory.</p>
                                <p><span >Risk Advisor's simple, fully-automated risk assessment process allows you to build a comprehensive, industry specific risk profile for business in a matter of minutes. Finally, aﬀordable, intelligent matching of risk and insurance, reducing the likelihood of under insurance and optimizing premium expenditure. The platform manifest itself in the form of risk assessment and benchmarking process. This work is tandem to produce a personalized risk profiles which details the specific industry risk and exposure.
                                    </span></p>
                                Stuff I did​:
                                <ul>
                                    <li>Developed and managed Uninsured Risk Section and management of 5 level User Hierarchy with changing functionality api and its graphical representation.</li>
                                    <li>Editable Graphical Report Generation.</li>
                                    <li>Actively involved in the Database and application structure design and enhancements as per the ever changing requirements.</li>
                                </ul>
                            </div>
                        </div>
                        <hr class="solid">

                        
                        
                        
                        <p><span style="color: #808080;">&nbsp;</span></p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>